dtw==1.4.0
fastdtw==0.3.4
ipywidgets==7.7.1
keras==2.15.0
matplotlib==3.7.1
numpy==1.23.5
opencv-python==4.8.0.76
pandas==1.5.3
rembg==2.0.53
scipy==1.12.0
sklearn-pandas==2.2.0
tensorflow==2.15.0
opendatasets==0.1.22
scikit-image~=0.22.0
